article_tag.fst
citation_count_tag.fst
data_for_bubble.fst
discipline_tag.fst
funder_tag.fst
include_by_date.fst
included_with_metadata.fst
institution_tag.fst
interventions_df.fst
interventions_df_small.fst
interventions_tagging.fst
model_df.fst
model_df_small.fst
model_tagging.fst
n_included_per_year_plot_data.fst
oa_tag.fst
outcome_df.fst
outcome_df_small.fst
outcome_tagging.fst
pdfs.fst
pico.fst
retraction_tag.fst
rob.fst
species_df.fst
species_df_small.fst
species_tagging.fst
transparency.fst
